html {
    font-size: 10px;
    scroll-behavior: smooth;
  }

html, body, header, main, footer {
    margin: 0;
    padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  @extend %font-prim;
  font-size:  1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  color: #636060;
}

h1 {
    @extend %font-prim;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 5rem;
    color: #717171;
}

h2 {
    @extend %font-add;
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 5.2rem;
    color: #499A18;
}

h3 {
    @extend %font-prim;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 5rem;
    color: #000000;
}

h4 {
    @extend %font-prim;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem;
    color: #E06733;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
  }

.button {
    width: 161px;
    height: 50px;
    text-align: center;
    // @extend %font-add;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.6rem;
    color: #E06733;
    border: 1px solid #E06733;
    border-radius: 5px;
    cursor: pointer;
    @extend %transition;
    &:hover {
        color: #FFFFFF;
        background: #E06733;
    }
}

 // Header

.header {
    background-color: #EDF2EC;
}

.wrapper__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 42px 110px;
}

.logo {
    text-decoration: none;
}

.logo__image {
    width: 20px;
    height: 20px;
}

.text__logo {
    @extend %font-add;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    color: #000000;
}

// Navigation

.navigation {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    @extend %font-add;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    list-style: none;
    >* {
        padding-right: 46px;
        &:last-child {
            padding: 0;
        }
    }
}

.navigation__link {
    color: #010201;
    text-decoration: none;
    &:hover {
        font-weight: 700;
        color: #E06733;
        @extend %transition;
    }
}

// Welcome

.welcome {
    background-color: #EDF2EC;
}

.wrapper__welcome {
    display: flex;
    justify-content: right;
    padding: 62px 109px;
    background: url("../assets/images/leafs.png") 109px 62px / auto no-repeat;
}

.welcome__content {
    max-width: 549px;
    margin: 36px 0 32px;
}

.welcome__title {
    margin: 0 0 42px;
    .text-selection_green {
        color: #499A18;
    }
}

.welcome__text {
    max-width: 525px;
    margin: 0 0 48px;
    @extend %font-prim;
    font-style: normal;
    font-size: 2rem;
    font-weight: 400;
    line-height: 3.5rem;
}

.button__welcome {
    width: 158px;
    height: 44px;
    @extend %font-prim;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2rem;
    color: #000000;
    background-color: #EDF2EC;
    border: 2px solid #E06733;
    border-radius: 10px;
    &:hover {
        color: #FFFFFF;
        background: #E06733;
    }
}

// About

.wrapper__about {
    display: flex;
    justify-content: space-between;
    padding: 93px 109px;
}

.about__content {
    max-width: 605px;
    margin-top: 68px;
}

.about__title {
    max-width: 463px;
    margin: 0 0 40px;
    .text-selection_orange {
        color: #E06733;
    }
}

.about__text {
    @extend %font-prim;
    font-size: 2rem;
    font-weight: 400;
    font-style: normal;
    line-height: 3rem;
    margin: 0;
}

// Service

.service {
    background-color: #EDF2EC;
}

.wrapper__service {
    padding: 40px 109px;
}

.service__header {
    display: flex;
    justify-content: left;
    margin-bottom: 90px;
}

.service__title {
    max-width: 306px;
    margin: 0 142px 0 0;
}

.service__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 29px 0  15px;
    >* {
        margin-right: 38px;
    }
    &:last-child {
        margin-right: 0;
    }
}

.service__button {
    @extend %font-add;
    background-color: #EDF2EC;
}

.services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.service__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 55px;
}

.service_descr {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #E3E1D5;
    border-radius: 0px 0px 20px 20px;
}

.service__image {
    border-radius: 20px 20px 0px 0px;
}

.service__name {
    margin: 10px 0;
}

.service__text {
    margin: 0 0 36px;
    color: #717171;
}

// Prices

.wrapper__prices {
    display: flex;
    justify-content: space-between;
    padding: 40px 109px;
}

.price__title {
    margin: 0 0 90px;
    line-height: 48px;
}

.prices__items {
    width: 332px;
    height: 282px;
    padding: 34px 41px;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    >* {
        margin-bottom: 32px;
    }
}

.button__price {
    width: 250px;
    height: 50px;
    padding: 0 40px;
    background: #EDF2EC;
    @extend %font-prim;
    font-weight: 700;
    font-size: 2rem;
    color: #000000;
    text-align: left;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:hover {
        color: #000000;
        background: #D6E7D2;
    }
}

.ico {
    width: 16px;
    height: 16px;
    background: #D9D9D9;
    border-radius: 100%;
}

.ico-arrow {
    width: 4px;
    height: 4px;
    margin: 5px auto 0;
    border-top: 0.5px solid #717171;
    border-right: 0.5px solid #717171;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

// .ico-arrow2 {
//     width: 4px;
//     height: 2.35px;
//     background-image: url("../assets/icons/arrow.svg");
//     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
// }

.arrow-bottom {
    transform: rotate(135deg);
}

.section__call-us {
    max-width: 452px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.call-us__title {
    margin: 0 0 38px;
    text-align: right;
    .title_selection_green {
        color: #499A18;
    }
}

.button__call-us {
    margin-bottom: 39px;
    @extend %font-add;
    font-weight: 700;
    background-color: #ffffff;
}

.call-us__image {
    width: 152px;
    height: 175px;
    margin-bottom: 75px;
}

// Contacts

.contacts {
    background-color: #EDF2EC;
}

.wrapper__contacts {
    padding: 53px 109px 0 109px;
    padding-bottom: 27.4%;
    background-image: url('../assets/images/contact_woman.png');
    // background-size: 400px 497px;
    background-position: 109px 53px;
    background-repeat: no-repeat;
}

.contacts__title {
    margin: 7px auto 0;
    font-weight: 700;
    text-align: center;
}

// Footer

.wrapper__footer {
    padding: 40px 109px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    line-height: 5rem;
    color: #000000;
}

.footer-copyright {
    display: inline-flex;
    align-items: center;
    >* {
        margin-right: 20px;
    }
}

.footer-social {
    display: flex;
    align-items: center;
    >* {
        margin-left: 20px;
    }
}

.footer__social-link {
    display: inline-flex;
}
